* {
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9 url(/images/bgcusc.png?f25044569965f7c24fda4aceeef703d8) left top;
  background-repeat: no-repeat;
}

.wraper {
  width: 80rem;
  margin: 0 auto;
}

.wraper .Header {
  width: 70rem;
  text-align: center;
  margin: 10px auto;
}

.wraper .Footer {
  width: 70rem;
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

