/* Calendar */
.main{
    display: flex;
}

.calendar-container{
    width: 490px;
}
.content-body{
    width: 980px;
}
.content-container .img img{
    width: 281px;
    height: 158px;
}

.jumbotron{
    display: flex;
}
.img{
    width: 290px;
}
.content-body{
    width: 620px;
    padding-left: 40px;
}
.content{
    position: relative;
}
.fb-like{
    position: absolute;
    top: 200px;
    left: -280px;
}
