.form-wrapper {

	form{
		padding:20px;
		margin: 0 auto;
		width: 800px;
		margin-top: 20px;
		
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 5px 5px 10px #ddd;
		
		.form-control {
			//height: 20px;
		}
		.control-button{
			display: flex;
			justify-content: flex-end;

			.btn {
				margin-left: 5px;
				width: 100px;
			}
		}
	}
}
