.ListClass{
	font-size: 10px;

	padding: 0 20px;
	margin: 0 auto;
	margin-top: 20px;
	width: 1000px;

	background-color: #fff;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #ddd;
	thead{
		//border: 1px solid red;
		//background-color: red;
	}
	.hover {
		cursor: pointer;
	}
}