tbody div{
    overflow: auto!important;
  }
  table{
    height: 100%;
    font-size: 12px;
  }
  .table-responsive.scrollxy {
    height: 480px!important;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  .h1, h1{
    color: #2570BB;
        font-family: 'Roboto Condensed', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 25px!important;
        
  }
  th {
    font-size: 9.6px!important  ;
}
  .h3,h3{
    font-size: 1.75rem;
    white-space: pre-wrap;
    line-height: 135%;
    margin-top: 22px;
    font-size: 15px;
  }
  h4 {
    line-height: 22px;
    font-size: 15px!important;
}
#table_students{
  width: 4800px;
}

abbr {
  position: relative;
}

abbr:hover::before {
  position: absolute;
  top:  10%;
  left: 100%;
  /* height: 100%; */
  display: block;
  padding: 1em;
  background: navy;
  content: attr(title);
}