.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 20px 20px;
    min-height: 645px;
}
.content-border{
    width: 100%;
}

.content-border h2{
    background: #1e2761;
    padding:17px 20px 11px 20px;
    color: #DFE1E1;
}
.view-news{
    position: relative;
    overflow: hidden;
}

.panelizer-view-mode {
    border-bottom: 1px solid #D1D3D4;
}

.white-stone{
    padding: 20px;
    box-sizing: border-box;
    background: white;
    color: #333132;
    width: auto;
    position: relative;
}
.white-stone-content{
    position: relative;
    min-height: 0;
}

.gs-container:first-child {
    margin-top: -20px;
}

.gs-container {
    clear: both;
    margin-left: -20px;
    overflow: hidden;
}

.default-1-3 {
    width: 26%;
}
.gs-container>* {
    padding-left: 20px;
    padding-top: 20px;
    float: left;
    position: relative;
}

div.simple-border {
    width: 79%;
}

.simple-border {
    /* border: 1px solid #909090; */
    display: inline-block;
}

.node-teaser .field-name-field-article-media img {
    width: 260px;
    height: 158px;
}

.default-2-3 {
    width: 70%;
}
.default-2-3 h4 a{
    font-weight: bolder;
}
.infor-datetime{
    display: flex;
}
.infor-left{
    width: 40%;
}
